* {
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("images/pets-background.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center bottom;
}

/* header styles */
header {
  background-color: #28afb0;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin-left: 3vw;
  color: #ffffff;
  font-size: 50pt;
  font-family: 'Work Sans', sans-serif;
}

img#logo {
  height: 9vh;
  margin-right: 3vw;
}

/* login & signup */
section.signup {
  float: right;
  margin-right: 20vw;
}

section.login {
  float: left;
  margin-left: 20vw;
}

/* form styling */
.container {
  text-align: center;
  color: #ffffff;
  font-weight: 700;
}

.container section {
  border: .33vw solid #19647E;
  border-radius: 5px;
  background-color: #28afb0;
  margin-top: 5vh;
  width: 25vw;
  max-width: 250px;
  display: inline-block;
  padding: 2vw;
}

input, select {
  margin: .75vw;
  padding: .25vw;
  border: 2px solid #ffffff;
  border-radius: 5px;
}

input:focus, input.login:hover, input.signup:hover {
  border: 3px solid #F57D3D;
  outline: none;
}

input.login, input.signup {
  display: block;
  margin: 3vh auto;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  color: #37392E;
  font-weight: 700;
}

/* household & appointment containers*/

img#pet-img, img#service-img {
  width: 75px;
}

article.wrapper {
  width: 50vw;
  color: #19647E;
  margin: auto;
  text-align: center;
}

section.wrapper {
  background-color: #ffffff;
  color: #37392E;
  border: .33vw solid #19647E;
  border-radius: 5px;
  padding: 10px;
}

div.pet-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px auto;
  width: 75%;
  font-size: 1.5vh;
}

button, input.button {
  margin-top: 20px;
  padding: 3px;
  background-color:#ffffff;
  border: 2px solid #28afb0;
  border-radius: 5px;
  color: #28afb0;
  font-weight: 700;
}

button:hover, input.button:hover {
  border: 2px solid #F57D3D;
}

button.delete {
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border: 2px solid #37392E;
  color: #37392E;
}

button.delete:hover {
  background-color: #28afb0;
}

/* new appointment & new pet forms */

article#appointment-form, article#pet-form {
  margin-top: 5vh;
}

section#appointment-section, section#pet-section {
  background-color: #28afb0;
  color: #ffffff;
  font-weight: 700;
}

form {
  padding: 10px;
  line-height: 4vh;
}